.navbar-brand {
    font-family: 'PT Serif', serif;
}

.errorlist {
    color: blue;
}
.username
{
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
}
.commentfont
{
    font-family: 'Patrick Hand', cursive;
}